.presentation{
    position: relative;
    background-image: url(../assets/images/dot-bg.svg);
    background-position: 0 0;
    background-size: 60px;
    background-attachment: fixed;
    top: -220px;
    &__title{
      margin-left: 25px;
      margin-bottom: 20%;
      font-size: 40px;
    }
  }
.transitionUP__section{
  height: 25px;
  width: 100%;
  &--img{
    background-image: url(../assets/images/transisvg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  }
}
.transitionDOWN__section{
  height: 25px;
  width: 100%;
  transform: rotate(180deg);
  margin-bottom: 5%;
  z-index: 10;
  position: relative;
  &--img{
    background-image: url(../assets/images/transisvg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  }
}
.cards{
  display: flex;
  width: 100%;
  height: 300px;
  position: relative;
  z-index: 10;
  &__el{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    &--wrapper{
      transition: all 0.5s;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      width: 100%;
      z-index: -1;
      .cover-image{
        width: 33.33vw;
        height: 300px;
        object-fit: cover;
      }
    }
    &--title{
      width: 100%;
    }
    &--character{
      display: none;
    }
  }
}
.presentation__section{
  margin-top: 20%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  &--title{
    font-size: 32px;
    text-align: right;
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
    width: 100%;
    margin-top: 0;
    margin-right: 5%;
  }
  &--title::after{
    content: '';
    position: absolute;
    right: 0px;
    bottom: 0;
    width: 60%;
    height: 3px;
    background: linear-gradient(to right, $c-blue, $c-purple, $c-pink);
  }
  &--img{
    margin-top: 7%;
    margin-bottom: 7%;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }
  &--p{
    margin-left: 5%;
    margin-right: 5%;
  }
}
