body {
  font-family: $font;
  font-size: $size-text;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  color: $c-text;
  background-color: $c-bg;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  list-style: none;
}
.big-title{
  font-family: $font-title;
  font-weight: 800;
  font-size: 40px;
}
.title{
  font-family: $font-title;
  font-weight: 800;
  font-size: 32px;
}
.sub-title{
  font-family: $font-title;
  font-weight: 800;
  font-size: 24px;
}
.uppercase{
  text-transform: uppercase;
}
.bold{
  font-weight: bold;
}
@mixin gradient-text {
  background: linear-gradient(to right, $c-pink, $c-purple, $c-blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-text {
  @include gradient-text;
  color: $c-text;
}
@media (min-width: 580px) {
  body {
    font-size: 18px;
  }
}
