@import 'utils/variables';
@import 'components/type';
@import 'components/nav';
@import 'components/intro';
@import 'components/presentation';

body{
    background-color: $c-bg;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    list-style: none;
}
.container{
    max-width: 1920px;
    min-width: 350px;
}

.work{
  position: relative;
  top: -260px;
  &__bg{
    width: 100%;
    height: 800px;
    &--video{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@media (min-width: 500px) {
  .work{
    top: -270px;
  }
}
@media (min-width: 700px) {
  .work{
    top: -280px;
  }
}

