@import 'utils/variables';
@import 'components/type';
@import 'components/nav';
@import 'components/intro';
@import 'components/presentation';
@import 'components/work';
@import 'components/loadscreen';
@import 'components/switch';

.container{
    max-width: 1920px;
    min-width: 350px;
}

.skills{
  top: -280px;
  width: 100%;
  position: relative;
  background-image: url(../assets/images/dot-bg.svg);
  background-position: 0 0;
  background-size: 50px;
  background-attachment: fixed;
  .transitionUP__section{
    margin-bottom: 20%;
  }
  &__title{
    font-size: 32px;
    text-align: right;
    position: relative;
    padding-bottom: 10px;
    margin-top: 0;
    margin-right: 5%;
    margin-bottom: 20%;
  }
  &__title::after{
    content: '';
    position: absolute;
    right: 0px;
    bottom: 0;
    width: 60%;
    height: 3px;
    background: linear-gradient(to right, $c-blue, $c-purple, $c-pink);
  }
  &__subtitle{
    font-size: 24px;
    text-align: right;
    margin-right: 10%;
    margin-top: 9%;
    margin-bottom: 3%;
  }
  &__para{
    margin: 0;
    margin-left: 5%;
    margin-right: 5%;
  }
  &__ps{
    margin-top: 9%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__ps span{
    margin-left: 5%;
    margin-right: 5%;
  }
  .para-right{
    margin-left: 10%;
  }
}
